pandasql==0.7.3
sqlparse==0.4.2
langchain==0.0.312
gradio==3.40.1
loguru==0.7.0
faiss-cpu==1.7.4
rapidfuzz==3.2.0
chromadb==0.4.7
openai>=1.5.0
sentence_transformers==2.2.2
tiktoken==0.4.0
guidance==0.0.64
SQLAlchemy==1.4.46
--extra-index-url https://download.pytorch.org/whl/cu113
torch>=1.12.1,<=1.13.1
unirec>=0.0.1a4
pandas<2.1.0